@font-face {
    font-family: "Pacifico-Regular";
    src: url(../public/fonts/Pacifico-Regular.ttf);
  }

.carousel {
    width: 500px;
    height: 500px;
    margin-left: 800px;
    padding: 0px 10px;
    text-align: center;
    margin-top: -120px;
    position: fixed;
    border-color: black;
}

.carousel_header {
    padding: 50px;
    font-family: Pacifico-Regular;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(https://media4.giphy.com/media/l378vg4Pm9LGnmD6M/giphy.gif?cid=790b76118208c7f80bfda9726761f5cf3f2983d6c629a730&rid=giphy.gif&ct=g);
   font-size: 70px;

}

.carouselImages {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-color: black;
margin-top: -100px;
}

.carouselImages .left {
    flex: 5%;
    height: 100%;
    display: grid;
    place-items: center;
    
    
}

.carouselImages .left .leftButton {
    color: rgba(255, 255, 255, 0.761);
    background-color: green;
    cursor: pointer;  
    font-size: 10px;
    transition: all 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 20px;
    border-radius: 16px;
    border-color:rgba(255, 255, 255, 0.761);
    font-family: Pacifico-Regular;

}

.carouselImages .left .leftButton:hover {
    color:rgba(255, 255, 255, 0.761);
    background-color: blue;
    box-shadow:rgba(255, 255, 255, 0.761)
}

.carouselImages .right {
    flex: 5%;
    height: 100%;
    display: grid;
    place-items: center;
}

.carouselImages .center {
    flex: 90%;
    height: 100%;
}

.carouselImages .right .rightButton {
    color: rgba(255, 255, 255, 0.761);
    background-color: green;
    cursor: pointer;  
    font-size: 20px;
    transition: all 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 16px;
    border-color:rgba(255, 255, 255, 0.761);
    font-family: Pacifico-Regular;
}

.carouselImages .right .rightButton:hover {
    color:rgba(255, 255, 255, 0.761);
    background-color: blue;
    box-shadow:rgba(255, 255, 255, 0.761)
}

.container-dots {
    position: absolute;
    bottom: -400px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }

