.sidenav {
    height: 100%;
    width: 350px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(205, 205, 205);
    overflow-x: hidden;
    padding-left: 10px;
  }

  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cookie_image {
    width: 300px;
    height: auto;
  }