.sidenav {
    height: 100%;
    width: 200px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-left: 10px;
  }

  .main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    text-align: center;
  }

  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cookie_image {
    width: 300px;
    height: auto;
  }