.sidenav {
    height: 90%;
    width: 350px; 
    position: fixed;
    z-index: 1;
    top: 6%;
    left: 15px;
    background-color: transparent;
    overflow-x: hidden;
    padding-left: 10px;
    text-align: center;
    font: 12px;
    font-family: Pacifico-Regular;
    border-radius: 30px;
    margin: auto;
    color: white;
    
  
  }

  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://thiscouldbebetter.files.wordpress.com/2013/04/parallaxscrolling.gif);
    background-size: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .cookie_image {
    width: 50px;
    height: auto;
  }


  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.main {
  margin-left: -300px;
}

.myCart {
  font-family: Pacifico-Regular;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(https://media4.giphy.com/media/l378vg4Pm9LGnmD6M/giphy.gif?cid=790b76118208c7f80bfda9726761f5cf3f2983d6c629a730&rid=giphy.gif&ct=g);
}

.cookieCard {
  align-items: center;
  text-align: center;
  padding: 20px;
  border: solid;
  margin-top: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
border-radius: 16px;
font-family: Pacifico-Regular;
background-color: transparent;
color: white;
margin-right: -100px;
}

.delete_button {
  color: rgba(255, 255, 255, 0.761);
  background-color: green;
  cursor: pointer;  
  font-size: 15px;
  transition: all 0.2s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 16px;
  border-color:rgba(255, 255, 255, 0.761);
  font-family: Pacifico-Regular;
}

.cart_button {
  color: rgba(255, 255, 255, 0.761);
    background-color: green;
    cursor: pointer;  
    font-size: 15px;
    transition: all 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 16px;
    border-color:rgba(255, 255, 255, 0.761);
    font-family: Pacifico-Regular;
}
.cart_button:hover {
  color:rgba(255, 255, 255, 0.761);
    background-color: blue;
    box-shadow:rgba(255, 255, 255, 0.761)
}
.delete_button:hover {
  color:rgba(255, 255, 255, 0.761);
    background-color: blue;
    box-shadow:rgba(255, 255, 255, 0.761)
}

.review_card {
  color:white;
  border-radius: 16px;
}

.review_form {
  border-radius: 50px;
  
}